[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/noiserr
[access "refs/for/refs/*"]
	read = group user/noiserr
	push = group user/noiserr
	label-Code-Review = -2..+2 group user/noiserr
	label-Verified = -1..+1 group user/noiserr
	rebase = group user/noiserr
	removeReviewer = group user/noiserr
	submit = group user/noiserr
[access "refs/heads/*"]
	read = group user/noiserr
	create = group user/noiserr
	push = +force group user/noiserr
	pushMerge = group user/noiserr
[access "refs/tags/*"]
	push = group user/noiserr
	push = +force group user/noiserr
